* {
    margin: 0;
    padding: 0;
}

#app{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

}
.del {

    font-size: 10px;

}

.item{

    text-decoration: line-through;

}

ol>li {

    cursor: pointer;

}
